body {
    font-family: "Protest Riot", sans-serif;
    background-color: #F5E8CE;
    color: #647CA0
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 45pt;
  text-align: center;
}

header {
  text-align:center

}

#hero {

    text-align: center;
    background-color: #B5A481;
    padding: 2.5rem;

}

footer {
    text-align: center;
    background-color: #B5A481;
    padding: 1rem;

}

/* Hero Section*/
#hero img { 
   
    width: 20rem;

/* Bio Section*/

}

#bio {
    text-align: center;
}

/* Hobbie Section*/
#hobbies{

    color: greenyellow;
    
}

/*Gallery Section */

#gallery {
    border: 15px solid #756036;
    margin-bottom: 2rem;
}

#gallery img {
    max-width: 100%;
}
#gallery figure{
    text-align: center;
}

/* Literature Section */
#lit {
    border: 15px solid #756036;
    margin-bottom: 2rem;
}
#lit div {
    padding:2rem;
    max-width: 40rem;
    margin: 0 auto;

}


#lit div p::first-letter{
color: red

}