

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;

}

.navmenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

    
}

.nav-branding{
    font-size: 2rem;

}

.hamburger{
    display: none;
    cursor: pointer;

}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;

}

@media (max-width:768px){
    .hamburger{
        display: block;

    }
    .hamburger.active .bar:nth-child(2){
        opacity:0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        text-align: center;
        transition: 0.3s;

    
    }

    .nav-item{
        margin: 16px 0;

    }

    .nav-menu.active{
        left: 0;
        
    }
}



body {
    font-family: "Protest Riot", sans-serif;
    background-color: #F5E8CE;
    color: #647CA0
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 45pt;
  text-align: center;
}

h2 {
    margin: .1em;
}

header {
  text-align:center

}

#hero {

    text-align: center;
    background-color: #B5A481;
    padding: 2.5rem;

}

footer {
    text-align: center;
    background-color: #B5A481;
    padding: 1rem;

}

/* Hero Section*/
#hero img { 
   
    width: 20rem;

/* Bio Section*/

}

#bio {
    text-align: center;
}

/* Hobbie Section*/
#hobbies{

    
        text-align: center;
    
}

/*Gallery Section */

#gallery {
    border: 15px solid #756036;
    margin-bottom: 2rem;
   
}

#gallery img {
    max-width: 100%;
}
#gallery figure{
    text-align: center;
}

/* Literature Section */
#lit {
    border: 15px solid #756036;
    margin-bottom: 2rem;
}
#lit div {
    padding:2rem;
    max-width: 40rem;
    margin: 0 auto;


}

#blog_text {
    
background-image:url(https://pixabay.com/get/g09ba227fbff9b5e27410b6f90ac0b91aafcae96992f485d042a636d58fa22b082d883112c488df0e1abf43b80c24323fb8595375047ffc5eefee6cb0c95e092a7a03230fbf16449049d7ed71d019d502_640.jpg);
   
}

#sample_code {
    color: white;
    background-image:url(https://img.freepik.com/free-photo/free-photo-black-grunge-abstract-background-pattern-wallpaper_1340-33848.jpg?t=st=1714525248~exp=1714528848~hmac=c7aac0e705a9454d2f3be3d894ea8e2dd517e3097355c72fea4bd53fc449c020&w=740)
}


#lit div p::first-letter{
    max-width:100%;
    columns: 40rem; 

}
/* large screen size */
@media screen and (min-width: 100em) {

    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr {
        display: none;
    }
    #gallery h2 {
        grid-column: 1/-1
    }

    figure {
        display: block;
    }


    

    }
    






/* tablet size */
@media screen and (min-width: 60em) {


    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    
    figcaption {
        display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-left: 1rem;

}



/*Contact Form*/

#formelements {
    display:grid;
    row-gap: 1em;
}

#contact {
    padding: 1rem;
    max-width: 600px;
    margin: 2rem auto;
}

fieldset{
    border: 2px solid #756036;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 2rem;
}

legend{

    background-color: #B5A481;
    color:white;
    padding: .5em;
}

#contact input, #contact textarea, #contact select, #contact button {
    padding: .5em;
    font-size: 1rem;
}

#contact ul{

    list-style: none;
    padding:0px;
}

#contact li{

    margin:1.01rem;
}

#contact button{

    background-color: #B5A481;
    color: white;
    border: 1px solid #647CA0;
    max-width: 400px;
    width:50%;
    justify-self: center;

}
}